<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Add permissions for Internet access, if not already included -->
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.ResQfood"
        tools:targetApi="31">



        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDrx4zDvwXMPeSEhB6PMwYpLU6798mdBfY"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".StartActivity"
            android:exported="false"/>
        <activity android:name=".LoginActivity"
            android:exported="false"/>
        <activity android:name=".SignupActivity"
            android:exported="true"/>
        <activity android:name=".DonorHomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".RecipientHomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustPan"/>
        <activity android:name=".FoodDonationActivity"
            android:exported="false"/>
        <activity android:name=".DonationDetailActivity"
            android:exported="false"/>
        <activity android:name=".ProfileActivity"
            android:exported="false"/>
        <activity android:name=".MyDonationActivity"
            android:exported="false"/>
        <activity android:name=".CollectActivity"
            android:exported="false"/>
        <activity android:name=".AddAddressActivity"
            android:exported="false"/>
        <activity android:name=".MyAddressActivity"
            android:exported="false"/>
        <activity android:name=".NotificationActivity"
            android:exported="false"/>
        <activity android:name=".MyListsActivity"
            android:exported="false"/>
        <activity android:name=".BlogActivity"
            android:exported="false"/>
        <activity android:name=".RecipientHistoryActivity"
            android:exported="false"/>
        <activity android:name=".ViewActivity"
            android:exported="false"/>


    </application>

</manifest>
